$textColor: rgba(01, 16, 30, 1);
$textSecColor: rgba(255, 255, 255, 1);
$backgroundColor: rgba(70, 161, 252, 1);
$formBgColor: rgba(152, 188, 224, 1);
$headerBgColor: rgba(12, 51, 91, 1);
$btnBgColor: rgba(237, 124, 11, 1);
